.footer{
    background-color: #17223B;
    padding: 10px;
    font:15px "Lucida Console", san-serif;
    vertical-align: text-bottom;
}   

.footer h3{
    text-align: center;    
    color:white;
}

.footer .contributors{
    padding:10px;
    text-align: -webkit-center;
}

.footer a{
    padding:5px;
    color: white;
}