.footer{
    background-color: #17223B;
    margin-top: 50%;
    padding: 3px;
    font:15px "Lucida Console", san-serif;
}

.footer h3{
    text-align: center;    
    color:white;
}

.footer .contributors{
    padding:10px;
    text-align: -webkit-center;
}

.footer a{
    padding:5px;
    color: white;
}