*{
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

.menu-ul {
    font:14px "Lucida Console", san-serif;
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 1%;
    overflow: hidden;
    background: transparent;
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
  }
  
  .menu-ul li {
    float: right;
  }

  a.NavBtn {
    float: right;
    display: block;
    color: white;
    background:transparent;
    padding:12px 20px;
    font-size:17px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
    text-align: center;
  }
  
  a.NavBtn:hover {
    border:none;
    border-radius: 35px;
    background:#FF6768;
    color: white;
  }
  
  .active {
    background-color: #4CAF50;
  }

  .header {
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(car.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-content: center;
    font:14px;
    padding: 10%;
  }

  .search-field 
  {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    height:60px;
    width: 235px;
    padding:20px;
    border: none;
    border-radius: 35px;
    outline: none;
    margin-bottom: 10%;
    margin-right: 1%;
  }

  .search-btn /** " Search button */
  {
    height:50px;
    width: 100px;
    font-size: 17px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: whitesmoke;
    cursor: pointer;
    background: transparent;
    opacity: 0.7;
    border-radius: 20px;
    border-bottom-color: yellow;
    border-top-color: yellow;
    border-left-color: yellow;
    border-right-color: yellow;
    justify-content: center; 
    margin-bottom: 10%;
    margin-right: 1%;
  }
  
  .search-fields /** This is the class for the search feild " number of cars " */
  {
    height: 60px;
    width:200px;
    font-size: 14px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: left;
    padding: 20px;
    border: none;
    border-radius: 35px;
    outline: none;
    margin-bottom: 10%;
    margin-right:1%;
    justify-content: center; 
  }
  
  
  .para {
    color: white;
    font-weight: bold;
    font-size:100px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; 
    margin-bottom: 1.5%;
  }

  .explore {
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 35px;
    font:14px "Lucida Console", san-serif;
  }
  .cities
  {
    text-align: center;
    color: white;
    background-color: #17223B;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;  
    font-size: 20px;   
  }
  .city
  {
    text-align: center;
    color: white;
    background-color: #17223B;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;  
    font-size: 50px;

  }
  .imageTor
  {
    background: url(../images/toronto.jpg);
    width: 460px;
    height: 450px;
    margin-left: 150px;
  }
  .imageOta
  {
    background: url(../images/ottawa.jpg);
    width: 460px;
    height: 500px;
    margin-top: -500px;
    margin-left: 670px;
    margin-right: 500px;
  }
  .imageVan
  {
    background: url(../images/vancover.png);
    width: 460px;
    height: 500px;
    margin-top: -500px;
    margin-left: 1190px;
    margin-right: 500px;
  }
  .imageAlb
  {
    background: url(../images/alberta.jpg);
    width: 460px;
    height: 500px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 500px;
  }
  .imageMon
  {
    background: url(../images/montereal.jpg);
    width: 460px;
    height: 500px;
    margin-top: -500px;
    margin-left: 670px;
    margin-right: 500px;
  }
  .imageQue
  {
    background: url(../images/quebec.jpg);
    width: 460px;
    height: 500px;
    margin-top: -500px;
    margin-left: 1190px;
    margin-right: 500px;
  }


  
    
  