.signup-container
{
  margin: 0;
  padding: 0;
  height: 5%;
  width: 100%;
  font-family: "Lucida Console";
  background: url(../images/bus.jpg) no-repeat;
  background-size: cover;
  background-position: center; 
}

.sign-log-link
{
  color: #FF6768;
}

  
.btn{
  width: 100%;
  background: none;
  border: 2px solid #FF6768;
  color: #17223B;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.btn:hover{
  background-color: #FF6768;
  border: 2px solid #FF6768;
  color: #17223B;
}