.search-field 
  {
    font-family: Tahoma, Verdana, sans-serif;
    height:60px;
    width: 235px;
    padding:20px;
    border: none;
    border-radius: 35px;
    outline: none;
    margin-bottom: 10%;
    margin-right: 1%;
    text-align: center;
  }

  .search-btn /** " Search button */
  {
    color: whitesmoke;
    cursor: pointer;
    background: transparent;
  }

  .fas{
    font-size: x-large;
  }
  
  .search-fields /** This is the class for the search feild " number of cars " */
  {
    height: 60px;
    width:200px;
    font-size: 14px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: left;
    padding: 20px;
    border: none;
    border-radius: 35px;
    outline: none;
    margin-bottom: 10%;
    margin-right:1%;
    justify-content: center; 
  }
  
  
  .para {
    color: white;
    font-weight: bold;
    font-size:100px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; 
    margin-bottom: 1.5%;
  }

  .explore {
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 35px;
    font:14px "Lucida Console", san-serif;
  }
  .cities
  {
    padding-top: 50px;
    text-align: center;
    color: white;
    background-color: #17223B;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;  
    font-size: 20px;   
  }
  .city
  {
    text-align: center;
    color: white;
    background-color: #17223B;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;  
    font-size: 50px;

  }
  .imageTor
  {
    background: url(../images/toronto.jpg);
    width: 400px;
    height: 400px;
    margin-left: 10px;
  }
  .imageOta
  {
    background: url(../images/ottawa.jpg);
    width: 400px;
    height: 400px;
    margin-top: -400px;
    margin-left: 470px;
    margin-right: 0px;
  }
  .imageVan
  {
    background: url(../images/vancover.png);
    width: 400px;
    height: 400px;
    margin-top: -400px;
    margin-left: 930px;
    margin-right: 0px;
  }
  .imageAlb
  {
    background: url(../images/alberta.jpg);
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 0px;
    
  }
  .imageMon
  {
    background: url(../images/montereal.jpg);
    width: 400px;
    height: 400px;
    margin-top: -400px;
    margin-left: 470px;
    margin-right: 0px;
  }
  .imageQue
  {
    background: url(../images/quebec.jpg);
    width: 400px;
    height: 400px;
    margin-top: -400px;
    margin-left: 930px;
    margin-right: 0px;
  }

  .searchPara{
    padding-top:15%;
    color:#17223B;
  }

  .services{
    background-color:aliceblue;
  }
  
  .secondrow .icon{
    padding-right: 30px;
  }

  .bookPara{
    padding-top:10%;
    color:#17223B;

  }

  .budgetPara{
    padding-top: 10%;
    color:#17223B;
    padding-left: 10px;
  }
  /*============================================Listing CSS===================*/
  .location-parking{
    color: white;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    
  }

  .location-hr{
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
  }

  .parking-listing {
    color: black;
  }

  .listing-image {
    width: 286px;
    height: 260px;
  }
