.search-field 
  {
    font-family: Tahoma, Verdana, sans-serif;
    height:60px;
    width: 235px;
    padding:20px;
    border: none;
    border-radius: 35px;
    outline: none;
    margin-bottom: 10%;
    margin-right: 1%;
    text-align: center;
  }

  .search-btn /** " Search button */
  {
    color: whitesmoke;
    cursor: pointer;
    background: transparent;
  }

  .fas{
    font-size: x-large;
  }
  
  .search-fields /** This is the class for the search feild " number of cars " */
  {
    height: 60px;
    width:200px;
    font-size: 14px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: left;
    padding: 20px;
    border: none;
    border-radius: 35px;
    outline: none;
    margin-bottom: 10%;
    margin-right:1%;
    justify-content: center; 
  }
  
  
  .firstrow{
    padding-top: 50px;
  }

  .para {
    color: white;
    font-weight: bold;
    font-size:100px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; 
    margin-bottom: 1.5%;
  }

  .explore {
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 35px;
    font:14px "Lucida Console", san-serif;
  }
  .cities
  {
    padding-top: 60px;
    text-align: center;
    color: white;
    background-color: #17223B;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;  
    font-size: 20px;   
  }
  .city
  {
    text-align: center;
    color: white;
    background-color: #17223B;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;  
    font-size: 50px;

  }

  .allCities{
    padding-top: 20px;
  }
  
  .allCities .row {
    margin-left: 60px;
  }

  .imageTor
  {
    background: url(../images/toronto.jpg);
    width: 450px;
    height: 450px;
    background-repeat: no-repeat;
  }
  .imageOta
  {
    background: url(../images/ottawa.jpg);
    width: 450px;
    height: 450px;
    margin-left: 70px;
    background-repeat: no-repeat;
  }
  .imageVan
  {
    background: url(../images/vancover.png);
    width: 200px;
    height: 450px;
    margin-left: 70px;
    background-repeat: no-repeat;
  }
  .imageAlb
  {
    background: url(../images/alberta.jpg);
    width: 450px;
    height: 450px;
    background-repeat: no-repeat;

  }
  .imageMon
  {
    background: url(../images/montreal.jpg);
    width: 450px;
    height: 450px;
    margin-left:70px;
    background-repeat: no-repeat;


  }
  .imageQue
  {
    background: url(../images/quebec.jpg);
    width: 450px;
    height: 450px;
    margin-left:70px;
    background-repeat: no-repeat;
  }

  .searchPara{
    padding-top:10%;
    color:#17223B;
  }
  
  .services{
    background-color:aliceblue;
  }
  
  .secondrow{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .secondrow .icon{
    padding-right: 30px;
  }

  .bookPara{
    padding-top:60px;
    color:#17223B;

  }

  .budgetPara{
    padding-top: 5%;
    color:#17223B;
    padding-left: 10px;
  }

  .thirdrow{
    padding-bottom: 40px;
  }